<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-5 col-12">
      <%= render "partials/user_side_bar" %>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7 col-12">
      <div class="card rounded-0">
        <div class="card-body">
          <%= form_for @user, url: :user_update_personal_info, method: :patch do |f| %>
            <div class="form-group row">
              <div class="col-md-6">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: "form-control rounded-0", placeholder: "First name" %>
              </div>
              <div class="col-md-6">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: "form-control rounded-0", placeholder: "Last name" %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <%= f.label :date_of_birth %>
                <%= f.date_field :date_of_birth, class: "form-control rounded-0" %>
              </div>
              <div class="col-md-6">
                <%= f.label :contact %>
                <%= f.text_field :contact, class: "form-control rounded-0" %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <%= f.label :profile_image %><br>
                <%= f.file_field :profile_image %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <%= f.submit "Update Persinal Info", class: 'btn btn-dark btn-block rounded-0' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
